<section id="create-game" *ngIf="!match">
  <h4>Chess Mate - New match</h4>

  <div>
    <button (click)="newMatch()">Create new game</button>

    <input type="text" #code placeholder="Match code" />
    <button (click)="joinMatch(code.value)">join game</button>
  </div>
</section>

<div id="chess-board" *ngIf="match">
  <div class="match-header">
    <button (click)="leaveMatch()">Leave</button>
    <span>
      Code: <strong>{{ match.code }}</strong>
    </span>
  </div>

  <div>
    <ngx-chess-board
      #board
      [darkDisabled]="darkDisabled"
      [lightDisabled]="lightDisabled"
      (moveChange)="move($event)"
    ></ngx-chess-board>
  </div>
</div>
