<section class="main">
  <app-header></app-header>
  <div class="actions">
    <button pButton (click)="reset()">Reset match</button>
  </div>

  <div class="boards">
    <section class="board">
      <h4 class="player">Player 1</h4>
      <iframe class="iframe-board" src="iframepage" frameborder="0"></iframe>
    </section>

    <section class="board">
      <h4 class="player">Player 2</h4>
      <iframe class="iframe-board" src="iframepage" frameborder="0"></iframe>
    </section>
  </div>
</section>
